/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.tab {

    -fx-pref-height: 60;
    -fx-cursor: hand;
}

.tab-header-background {
    -fx-background-color: #2f2484;

}


.jfx-button:focused {
    -fx-background-color: transparent;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
}


.jfx-tab-pane .tab-selected-line {
    -fx-border-color: #ff0006;
    -fx-pref-height: 5;
}

.jfx-tab-pane .tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 24px; /* before it was 12px */
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.jfx-tab-pane .tab:selected {

}

.list-cell {
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 20px "Segoe UI Symbol";
    -fx-text-fill: #2f2484;
}

.list-cell:hover {
    -fx-background-color: #c8d4ff;

}


#selectionGrid .label {
    -fx-text-fill: #2f2484;
    -fx-font: 16px "Segoe UI Symbol";
    -fx-alignment: CENTER;
}

#selectionGrid .jfx-toggle-button {
    -jfx-toggle-color: #2f2484;
    -jfx-toggle-line-color: #999999;
    -jfx-untoggle-color: #E81123;
    -jfx-untoggle-line-color:#999999;
}

.table-view {

    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 60pt;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 22px;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #2f2484;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-cell {
    -fx-pref-width: 548;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 21px "Segoe UI Symbol";
    -fx-text-fill: #2f2484;
    -fx-alignment: CENTER;
}





